footer {
  background-color: $background-footer;
  color: $third-color;
  > div {
    max-width: 1280px;
    padding: $space-sm;
    margin: auto;
    > div:first-child {
      padding: $space-sm;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
    > div:last-child {
      border-top: 1px solid $second-color;
      padding: $space-xs;
      text-align: center;
    }
  }
  > button {
    padding: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  #root > footer > div > div:nth-child(1) {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 767px) {
  #root > footer > div > div:nth-child(1) {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
