@import "../base/reset.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";

#detail {
  section {
    max-width: 897px;
    padding: $space-sm;
    margin: auto;
    > div.profil > div > p::before {
      content: " 📍";
    }
    > div:nth-child(3) {
      padding: $space-xs 12px 0px;
      display: flex;
      gap: 12px;
    }
    > div:nth-child(2) {
      h2,
      p {
        margin-bottom: 8px;
      }
    }
  }
}

.profil {
  padding: $space-xs 30px 0px;
  display: flex;
  gap: 12px;
  align-items: center;
  span {
    width: 56px;
    height: 56px;
  }
}
.border-b {
  margin: 12px 0px;
}
