#home {
  #tagline {
    background: $background;
    > div {
      max-width: 1280px;
      padding: $space-lg;
      margin: auto;
      text-align: center;
      p {
        color: $second-color;
      }
    }
  }
  #card-container {
    max-width: 980px;
    padding: $space-md;
    margin: auto;
    > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}
.aspect-square {
  aspect-ratio: 2/1;
}

@media screen and (max-width: 1024px) {
  #card-container > div {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 767px) {
  #card-container > div {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
